<launch>

    <arg name="camera_name" default="MER139" />
    <rosparam command="load" file="$(find infantry_camera)/config/MER139.yaml" ns="$(arg camera_name)"/>


    <rosparam command="load" file="$(find infantry_bringup)/config/detection.yaml"/>
    <include file="$(find infantry_detection)/launch/default.launch"/>
    <include file="$(find infantry_model)/launch/displayMonoRobot.launch"/>
    

    <node pkg="rosbag" type="play" name="player" args="-l /home/babyxin/dev/serial_ws/2021-03-25-22-02-38.bag"/>

    <node pkg="infantry_serial" type="angleToJointState.py" name="state_converter" />
    
    <node pkg="infantry_predict" type="infantry_predict_node" name="infantry_predict_node" />

</launch>